.container {
  display: flex;
  justify-content: space-around;
  background-color: red;
  .player1Card {
    border: 2px solid black;
    width: 200px;
    height: 200px;
  }
  .player2Card {
    border: 2px solid black;
    width: 200px;
    height: 200px;
  }
}
